:root {
  --max-width: 1500px;
  --primary-color: #cadcfc;
  --secondary-color: #8ab6f9;
  --bg-color: #00246b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  background-color: var(--primary-color);
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
